body {
    font-family: Roboto, sans-serif;
    background-color: white;
    color: black;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: black;
}

.title {
    color: Black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    overflow: hidden;
}

.detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 500px;
}

/* Footer in base.html */

.footer {
    background-color: #94778B;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    margin-top: 4rem;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #e8e3de;
}

/* Movie List Page */

.movie-image img {
    width: 200px;  
    height: auto;
    margin-top: 2rem;
}

.control .button.is-success.custom-search-button {
    background-color: rgb(42, 166, 215);
}

/* Create actor Page */

.title-create-actor {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5rem;
    margin-top: 2rem;
}

.link-go-back-new {
    color: rgb(42, 166, 215);
    margin-left: 5rem;
    margin-bottom: 2rem;;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #94778B;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: rgb(42, 166, 215);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #E54B4B;
}

/* Actors Page*/

.button-add-actor-container {
    text-align: center;

}