body {
  font-family: Roboto, sans-serif;
  background-color: white;
  color: black;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: black;
}

.title {
  color: Black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}

.gallery .card {
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

p {
  font-size: 12px;
}


/* Footer in base.html */

.footer {
  background-color: #94778b;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  margin-top: 4rem;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #e8e3de;
}

/* Movie List Page */

.movie-image img {
  width: 200px;
  height: auto;
  margin-top: 2rem;
} 

.control .button.is-success.custom-search-button {
  background-color: rgb(42, 166, 215);
} 

.button.is-info {
  margin-top: 1rem;
}

.button.is-danger {
margin-top: 1rem;
}

.btn-primary {
  background-color: rgb(42, 166, 215);
  color: #ffffff;
  border: none; 
  padding: 10px 20px; 
  text-align: center;  
  text-decoration: none;  
  display: inline-block;  
  font-size: 16px;  
  margin: 4px 2px;  
  cursor: pointer;  
  transition-duration: 0.4s;
  border-radius: 5px; /* Added based on your form input styling */
}

.btn-primary:hover {
  background-color: #94778b;
  color: #ffffff; 
}

.title-movie-display {
  color:#666;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.5rem;

}


/* Create actor Page */

.title-create-actor {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}

.link-go-back-new {
  color: rgb(42, 166, 215);
  margin-left: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 20px;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #94778b;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: rgb(42, 166, 215);
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #e54b4b;
} 

/* Actors Page */

.button-add-actor-container {
  text-align: center;
}  

/* Home Page */

.jumbotron {
    padding: 30px 0; 
    /* display: flex; 
    justify-content: space-between;  */
    align-items: center; 
    flex-direction: row; 
}

.home-title {
    font-size: 2.5em; 
    font-weight: 700; 
    margin-bottom: 20px; 
    background: linear-gradient(to right, rgb(42, 166, 215), #94778b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title-home {
    font-size: 1.5em; 
    color: #333333; 
}

.image-container-home {
  flex: 1; /* ensure that the image container takes up the remaining space in the row */
  height: 200px; 
  overflow: hidden; /* Ahide any part of the image that doesn't fit in the container */
  margin-bottom: 2rem;
}

.image-home {
  width: 100%; 
  height: auto; 
}

.button-learn-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(42, 166, 215); 
    border: none;
    border-radius: 50px; 
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.button-learn-more:hover {
    background-color: #94778b; 
}

.container-btn-learn-more {
    text-align: center;
    margin-bottom: 2rem;
}

.button-see-movies {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(42, 166, 215);
    border: none;
    border-radius: 50px; 
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.button-see-movies:hover {
    background-color: #94778b; 
}

.container-btn-see-movies {
    text-align: center;
    margin-top: 2rem;
}

.container-pop-movies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .container-pop-movies .row {
    display: flex;
    flex-direction: row;
  }
  
  .container-pop-movies .col-sm-4 {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-pop-movies .image-bottom-home {
    width: 100%;
    height: auto;
  }
  
  .container-pop-movies .image-bottom-home img {
    max-width: 100%;
    height: auto;
  }
  
  .container-pop-movies h4, .container-pop-movies p {
    text-align: center;
  }
  


/* About Page */

  
  .top-section {
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
  }
  
  .about-page-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .top-section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .container-btn-see-actors,
  .container-btn-see-movies-about {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .button-see-actors,
  .button-see-movies-about {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(42, 166, 215);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button-see-actors:hover,
  .button-see-movies-about:hover {
    background-color: #94778b;
  }
  
  .middle-section {
    margin: 1rem auto;
    max-width: 800px;
    display: flex;
    align-items: center;
  }
  
  .contributor-section img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }
  
  .contributor-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .right-side-paragraph {
    color: #666;
  }
  
  .right-side-paragraph a {
    color: rgb(42, 166, 215);
    text-decoration: none;
  }
  
  .right-side-paragraph a:hover {
    color: #94778b;
  }
  
  .UseCases-title {
    font-size: 2em;
    color: #333;
    margin: 2rem 0 1rem;
    text-align: center;
  }
  
  .UseCases-section p {
    font-size: 1.2em;
    color: #666;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
  
/* Actor Detail Page */

img {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.detail__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.detail__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh; 
}

.actor-name {
  margin-top: 1rem; 
}

/* media query to adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .detail__img {
    min-height: 40vh; 
  }

  .detail__name {
    min-height: 15vh; 
  }

  .actor-name {
    margin-top: 0.5rem; 
  }
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-t-detPag {
  margin-right: 50px; 
}

.dropdown {
  margin-left: 80px;
}

/* Actor Delete Page */

/*Like homepage so take the css*/
.picture-delete-p {
  flex: 1; 
  height: 400px; 
  overflow: hidden; 
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.image-delete-p {
  width: 100%; 
  height: auto; 
}

.delete-page-title {
 text-align: center;
 margin-bottom: 2rem;
 font-size: 30px;
}

.buttons-delete-pg {
  text-align: center;
  
}

.custom-cancel-button{
  margin-top: 1rem;
  font-weight: bold;
}
.button.is-primary.custom-cancel-button {
  background-color: rgb(42, 166, 215);
}


/* Watchlist Page */

.watchlists-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.watchlist-item {
  border: 1px solid #94778b;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.watchlist-item:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.watchlist-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.watchlist-title a {
  color: rgb(42, 166, 215);
  text-decoration: none;
}

.watchlist-title a:hover {
  color: #94778b;
}

.links-back-movie-List-wachl {
  text-align: right;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.links-back-movie-List-wachl a {
  color: #000;
  text-decoration: none;
}

.links-back-movie-List-wachl a:hover {
  color: rgb(42, 166, 215);
}

.watchlist-empty {
  text-align: center;
  color: #94778b;
}


.btn-group-updatte-delete {
  display: flex;
  align-items: center;
}

.btn-group-updatte-delete .is-primary {
  background-color: rgb(42, 166, 215);
  margin-right: 10px;
}

.create-watchlist-button {
  background-color: #94778b !important;
}

.create-watchlist-button:hover {
  background-color: rgb(42, 166, 215) !important;
}

/* Watchlist DEtail Page */


.title-watchlist_detail_p {
  font-size: 2em;
  color: rgb(42, 166, 215);
  margin-bottom: 20px;
  margin-top: 1rem;

}

.sub-watchlist_detail_p {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
}

.movie-container {
  border: 1px solid #94778b;
  border-radius: 5px;
  padding: 20px;
  
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.movie-container:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.movie-img img {
  width: 10%; 
  height: auto;
  border-radius: 5px;
}

.movie-synopsis {
  margin-top: 10px;
}

.movie-synopsis p {
  font-size: 1em;
  color: #000;
}

.button.is-danger.is-outlined {
  color: #ff3860;
  border-color: #ff3860;
  margin-top: 10px;
}

.button.is-danger.is-outlined:hover {
  color: #fff;
  background-color: #ff3860;
}

button[type="button"] {
  background-color: rgb(42, 166, 215);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="button"]:hover {
  background-color: #94778b;
}

/* Create a New Movie Page */

.title-create-movie {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}


form p {
  color: #666;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}

.actor-select-sub-text {
  color: #666;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}

.form-group label {
  color:#ff3860;
  font-weight: bold;
  font-size: 14px;
}

/* Update Movie Page */

.title-update-movie {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}

/* Delete Movie Page */

.top-delete-move-img {
  flex: 1;
  height: 400px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-delete-movie-pg {
  width: 100%;
  height: auto;

}

.delete-movie-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 30px;
}


.btn-delete-movie .form-group {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.btn-delete-movie .form-group button,
.btn-delete-movie .form-group a {
  margin: 0 10px; /* 10px space to the left and right of each button */
}

/* Create watchlist Page */

.title-create-watchlist {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}

/* Watchlist Update PAge */

.watchlist-select-sub-text {
  color: #666;
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}

.title-update-watchlist {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}