{% extends 'base.html' %} 
{% block title %}About{% endblock %}
{% block content%}
<div class="top-section">
  <h1 class="about-page-title">MovScroll</h1>
  <p>
    MovScroll is a dynamic and interactive database of movies, designed to cater
    to film enthusiasts and casual viewers alike. Here, you can find detailed
    information on a wide array of movies, including their titles, release
    dates, runtimes, genres, and more. This project was created with the aim of
    making it easier to discover and explore the fascinating world of cinema.
  </p>
</div>
<div class="middle-section">
  <div class="contributor-section">
    <div class="left-side-image">
      <img
        class="image is-128x128"
        src="/main_app/static/main_app/images/dolores_crazover_picture.png"
        alt="Dolores Crazover"
      />
    </div>
    <div class="right-side-paragraph has-text-black">
      <h2 class="contributor-title">Contributor</h2>
      <p>
        This project was developed by <strong>Dolores Crazover</strong>, a
        dedicated full-stack software developer and film aficionado. She
        leverages a strong STEM, entrepreneurship, and community building
        background to design customized, impactful solutions that strive to
        drive innovation, optimize processes, and enhance lives. Dolores is a
        problem-solver, detail-oriented, used to working with cross-functional
        teams, and a “good-vibes seeker.” She utilizes skills in HTML5, CSS,
        Javascript, Python, Node.js, Express.js, Mongoose and React to make a
        real difference in the world. Dolores welcomes opportunities to discuss
        software development, projects, or explore collaborations. Feel free to
        contact her and create something impactful together! You can find more
        of her work on her
        <a href="https://github.com/DoloresCode">GitHub</a>
        and
        <a href="https://www.linkedin.com/in/dolores-crazover/">LinkedIn</a>.
      </p>
    </div>
  </div>
</div>
<h2 class="UseCases-title">Use Cases</h2>
<div class="UseCases-section">
  <p>
    MovScroll serves as a go-to platform for movie lovers seeking to explore new
    films, revisit classics, or simply learn more about their favorite flicks.
    It's also a valuable tool for those interested in the film production
    process, providing detailed information about actors and more.
  </p>
</div>
{% endblock %}
