{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{actor.img}}" alt="{{actor.name}}" />
</div>

<div class="detail__name">
  <div class="actor-name">
    <h1 class="title">{{actor.name}}</h1>
  </div>
  {% if actor.verified_actor %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified</span>
  </div>
  {% endif %}
</div>
<div class="detail__container">
  
  <div class="detail__movies mb-5">
    <h3 class="title is-3">Movies</h3>

    <form class="mb-5" action="{% url 'movie_create' actor.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="title"
                    placeholder="Title"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="runtime"
                    placeholder="Runtime in minutes"
                    min="1"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-black" type="submit" value="Add Movie" />
            </div>
        </div>
    </form>
    
    {% for movie in actor.movies.all %}
    <div class="movie">
      <span>{{forloop.counter}}</span>
      <span><b>{{movie.title}}</b></span>
      <span>{{movie.get_runtime}}</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Movies Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
  <div class="buttons">
    <a href="{% url 'actor_update' actor.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'actor_delete' actor.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-3">About</h4>
    <p>{{actor.bio}}</p>
  </div>
</div>

{% endblock %}
