{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Welcome to MovScroll</h1>
  <p>Your ultimate movie database!</p>
</div>

<div class="container-pop-movies">
  <div class="row">
    <h2>Popular Movies</h2>
    <div class="col-sm-4">
      <h4>Bodyguard</h4>
      <p>A former Secret Service agent takes on the job of bodyguard to a pop singer, whose lifestyle is most unlike a President's.</p>
    </div>
    <div class="col-sm-4">
      <h4>Dirty Dancing</h4>
      <p>Spending the summer at a Catskills resort with her family, Frances "Baby" Houseman falls in love with the camp's dance instructor, Johnny Castle.</p>
    </div>
    <div class="col-sm-4">
      <h4>Rush</h4>
      <p>The merciless 1970s rivalry between Formula One rivals James Hunt and Niki Lauda.</p>
    </div>
  </div>
</div>

{% endblock %}
