{% extends 'base.html' %} {% comment %} for head title tags and helping us with
SEO {% endcomment %} {% block title %}Movie List{% endblock %} 

{% block content %} 
{% for movie in movies %}
<div class="movie-image">
<img src="{{movie.img}}" alt="{{movie.title}}" />
</div>
<h1>{{movie.title}}</h1>
<p>Release Year: {{movie.release_year}}</p>
<p>Runtime: {{movie.runtime}} minutes</p>
<p>Genre: {{movie.genre}}</p>
<p>Main Casts: {% for actor in movie.actors.all %}{{ actor.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Synopsis: {{movie.synopsis}}</p>

<p><a href="{% url 'movie_update' movie.id %}" class="btn btn-primary">Update Movie</a></p>


<hr />
{% empty %}
<p>No movies available</p>
{% endfor %} {% endblock %}
